#data
dvc >= 3.40.0
# dvc[all] >= 3.0.0
dvc[gdrive] >= 3.0.0
dvc[gs] >= 3.0.0
dvc[oss] >= 3.0.0
dvc[s3] >= 3.0.0
dvc[ssh] >= 3.0.0
dvc[webdav] >= 3.0.0
# docs
mkdocs <= 1.5.3
mkdocs-material <= 9.4.6
mkdocstrings <= 0.23.0
mkdocstrings[python]>=0.18
# pre-commit
pre-commit >= 3.5.0
# linting
ruff >= 0.1.3
